div#header-banner {
        position: absolute;
        top: 0px;
        right: 2px;
        background-repeat: no-repeat;
        background-position:top right;
        height: 78px;
        width: 600px;
        margin:0;
        padding: 0;
        z-index: 1;
}                                                                                      

h1#header-title {
        position: absolute;
        top: 0px;
        left: 10px;
        z-index: 2;
}

div#header-bar {
        position:relative;
	height:80px;
}
/* CSS se usa en proyecto, cooperativa y comercializacion */
#titulo1 {
	font-size:25px;
	font-family: Arial;
	color: #2474FF;
}
#titulo2 {
	font-size:25px;
	font-family: Arial;
	color: black;
}
#tabla_salida {
	width: 700px; 
	border-collapse: collapse; 
	margin-left: 30px;
	font-size:12px;
	font-family: Arial; 
	}

#tabla_salida table.accessHide { 
	position: absolute; 
	left: -999999px; 
	}

#tabla_salida td, th {
	text-align: center; 
	border: 1px solid #ddd;  
	height: 1.5em; 
	padding: 4px;
	}
#tabla_salida td.hover { 
	color: orange; 
	}
#tabla_salida td.input { 
	padding: 0; 
	}

#tabla_salida td input, td input:focus { 
	border: 1px solid orange; 
	outline: none; 
	padding: 2px; 
	margin: 1px; 
	width: 20px; 
	}
#tabla_salida caption {
	margin: 0 0 .5em; 
	font-size: 1.3em;  
	text-align: left;   
	}
div.centrado {
	text-align: center;
}

div.centrado table {
	margin: 0 auto;
	text-align: left;
}

div.centrado #tabla_salida {
	margin: 0 auto;
	text-align: left;
}
/* FIN de CSS cooperativa, comercializacion, proyectos */
a img { border:0px;}

body {
	font:12px Verdana, Arial, Helvetica, sans-serif;
}

/*CSS usado en mapas por region*/
.izq{
  float:left;
}
.der{
  float:right;
}
#contenido{
  font-family:Arial;
  width:912px;
  !width:916px;
  background:#ffffff;
 }

#colum_izq{
  width:190px;

  padding-left:10px;
  padding-top:5px;
  border-top-style:solid;
  border-top-width:2px;
  border-top-color:#a2d961;
  border-bottom-style:solid;
  border-bottom-width:2px;
  border-bottom-color:#a2d961;
  background-color:#ddfbac; 

}
#colum_izq ul{
	list-style-type: square;
	!list-style-type: none;
	list-style-position: outside;
	padding-left:20px;
	!padding-left:0px;

}

#colum_izq li{
	font-size:14px;
	color:#5c5c5c;
	font-weight: none;
	width:170px;
	!width:160px;
	margin-top:10px;
}

#colum_izq li a{

	font-style:underline;
	color:#5c5c5c
}


#colum_der{
  width:680px;
  margin-left:0px;
}
#colum_der a {
	font-style:underline;
	color:#3698B9
}

#separador{
  clear:both;
}
#titulo_mapa{
font-family:Arial;
color:#3698B9;
font-size:22px;
}


/*Fin del css de mapas region*/

.ui-dialog .ui-dialog-titlebar-one { position: absolute; right: 0.3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-one span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-one:hover, .ui-dialog .ui-dialog-titlebar-one:focus { padding: 0; }

.ui-dialog .ui-dialog-titlebar-two { position: absolute; right: 1.5em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-two span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-two:hover, .ui-dialog .ui-dialog-titlebar-two:focus { padding: 0; }

.ui-dialog .ui-dialog-titlebar-three { position: absolute; right: 2.7em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-three span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-three:hover, .ui-dialog .ui-dialog-titlebar-three:focus { padding: 0; }

.ui-dialog .ui-dialog-titlebar-four { position: absolute; right: 3.9em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-four span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-four:hover, .ui-dialog .ui-dialog-titlebar-four:focus { padding: 0; }

.ui-dialog .ui-dialog-titlebar-five { position: absolute; right: 5.1em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-five span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-five:hover, .ui-dialog .ui-dialog-titlebar-four:focus { padding: 0; }

.resetbutton { position: absolute; top: 10px; z-index: 100px; padding: 1px; }
.resetbutton:hover, resetbutton:focus { padding: 0; }

#contents img {
	float:right;
	margin-right: 0.5em;
}

span.link {
	cursor:pointer;
}
span.link:hover {
	text-decoration:underline;
}



div.warning {
	display: table-cell;
	margin: 10px;
	padding: 10px;
}


p.editline {
	font-size: 8px;
        text-align: right;
}
div.pointLabel {
            position: absolute;
            cursor: default;
}

div.formDiv {
	position: absolute;
	top: 100px;
	left: 100px;
	color: #738040;
	padding: 12px 6px 0px 6px;
	font-size: 9pt; 
	text-align: center; 
}


div#header h1 {
	margin: 0px;
	padding: 10px;

}

div#bottom {
	font-size: 10px;
}

span.signature {
	font-size: 9px;
	text-align: right;
	font-style:italic; 
}

p.description {
	font-size: 11px;
}

	.colmask {
		position:relative;	/* This fixes the IE7 overflow hidden bug */
		clear:both;
		float:left;
		width:100%;			/* width of whole page */
		overflow:hidden;		/* This chops off any overhanging divs */
	}
	/* common column settings */
	.colright,
	.colmid,
	.colleft {
		float:left;
		width:100%;			/* width of page */
		position:relative;
	}
	.col1,
	.col2,
	.col3 {
		float:left;
		position:relative;
		padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
						only padding top and bottom is included here, make it whatever value you need */
		overflow:hidden;
	}
	/* 3 Column settings */
	.threecol .colmid {
		right:25%;			/* width of the right column */
		background:#fff;		/* center column background colour */
	}
	.threecol .colleft {
		right:50%;			/* width of the middle column */
	}
	.threecol .col1 {
		width:46%;			/* width of center column content (column width minus padding on either side) */
		left:102%;			/* 100% plus left padding of center column */
	}
	.threecol .col2 {
		width:21%;			/* Width of left column content (column width minus padding on either side) */
		left:31%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
	}
	.threecol .col3 {
		width:21%;			/* Width of right column content (column width minus padding on either side) */
		left:85%;			/* Please make note of the brackets here:
						(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
	}

