/* 

	SearchField	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

/* default (inactive field) */
.sf_inactive{
	border:2px #d9e8f7 solid;
	background:#d9e8f7;
	color:#000000;
}
/* on focus (when field is clicked on)  */
.sf_active{
	border:2px #8BB544 solid;
	background:#fff;
	color:#333;
}
/* with text (when field is inactive but contains user's input)  */
.sf_text{
	border:2px #3c90a5 solid;
	background:#fff;
	color:#888;
}
.nose {
	font-size: 13px;
	font-family: arial;
	width: 230px;
}

/* suggestions box */
/* js code generates unordered list */
.sf_suggestion{
	position:relative;
}
.sf_suggestion ul{
	position:absolute;
	margin:0;
	padding:0;
	background:#86BAC7;
	top:0;
	left:0;
}
.sf_suggestion li{
	margin:0;
	padding:0;
	list-style:none;
}
.sf_suggestion li a{
	display:block;
	text-indent:5px;
	color:#fff;
}
.sf_suggestion li.selected a{
	background:#3D91A5;
}
