<html>
     <head>
	<title>{% block title %}{% endblock %}Ejemplo salida cooperativa</title>
	
     </head>
    <body>
	<div id="wrapper">
		<h1>Simple<span>Salida</span></h1>
		<p>Lista de cooperativas.</p>
	</div>
	<div id="header">
		<ul id="navi">
		<!--	<li><a href="/listar/" class="sel">Ver Cooperativas</a></li> -->
			<li><a href="/departamento/">Busqueda por ubicacion</a></li>
		</ul>
	</div>
	<div id="content">
		{% block content %}
<table cellspacing="0" class="list">
	<tr>
		<th>Cooperativa |</th>
		<th>Nombre Resumido |</th>
{% for k in s %}
	<tr>
		<td><a href="/listar/{{ k.id }}">{{k.id}}</a></td>
		<td><a href="/listar/{{ k.id }}">{{k.nombre_resumido}}</a></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
	</div>
    </body>
</html>
      
                                                      
