{% extends "/base.html" %}

{% block title %}Inicio mapas{% endblock %}
{% block headline %}Inicio mapas{% endblock %}

{% block contents %}
<div id="titulo_mapa"><b>Mapas Tematicos MAGFOR</b> </div></br>
<div id="contenido">
<div id="colum_izq" class="izq">
<b>Mapas por Region</b></br>
<ul><small>
<li><a href="/mapa/lista/region/1">Region Pacifico Norte</a></li>
<li><a href="/mapa/lista/region/2">Region Pacifico Central</a></li>
<li><a href="/mapa/lista/region/3">Region Pacifico Sur</a></li>
<li><a href="/mapa/lista/region/4">Region Las Segovias</a></li>
<li><a href="/mapa/lista/region/5">Region Central Norte</a></li>
<li><a href="/mapa/lista/region/6">Region Central Este</a></li>
<li><a href="/mapa/lista/region/7">Region Caribe Norte(RAAN)</a></li>
<li><a href="/mapa/lista/region/8">Region Caribe Sur(RAAS)</a></li>
<li><a href="/mapa/lista/region/9">Region del Rio San Juan</a></li></small>
</ul>
<hr>
<b>Mapas por tipo</b> </br>
<ul><small>
 {% for t in tipo %}
<li><a href="/mapa/lista/tipo/{{t.id}}">{{ t.nombre}}</a></li>
{%endfor%}
</small>
</ul>
</div>
<div id="colum_der" class="der">
      {% block detalle %}Este es una seccion de mapas de Nicaragua{% endblock %}
</div>
<div id="separador" ></div>
</div>
{% endblock %}
