{% extends "/base.html" %}

{% block title %}Persona{% endblock %}
{% block headline %}Persona{% endblock %}

{% block contents %}
		<ul>
			<a href="/proyectos/">Busqueda Linea Base por Beneficiario</a> |
			<a href="/proyectos/detalle/">Busqueda por detalle</a>
		</ul>
<h1 id="titulo1"> Información del beneficiario y todos sus proyectos </h1>
<form action="." method="GET" > 

{{ F|safe }}

<input type="submit" value="Enviar" /> 
</form>
<hr>
<div class="centrado">
<table id="tabla_salida">
<caption>Tabla Beneficiario y sus Proyectos</caption>
<thead>
         <tr>
				 <th>Proyectos</th>
                 <th>Nombre beneficiario</th>
                 <th>Cedula</th>
                 <th>Sexo</th>
         </tr>
   </thead>
<tbody>
{% for d in b %}
<tr>
   <td>{% for z in c %}
    *{{ z.proyecto.nombre }}<br>
    {% endfor %}</td>
<td>{{ d.nombre }} </td>
<td>{{ d.numero_cedula }}</td>
<td>{{ d.get_sexo_display }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}


