{% extends "/base.html" %}
{% block title %}Proyectos{% endblock %}
{% block headline %}Proyectos{% endblock %}

{% block contents %}
		<ul>
			<a href="/proyectos/proyecto/">Busqueda Linea Base por Beneficiario</a> |
			<a href="/proyectos/persona/">Busqueda por Persona</a>
		</ul>
<h1 id="titulo1"> Información General del proyectos </h1>
<form action="." method="GET" > 

{{ P|safe }}

<input type="submit" value="Consultar" /> 
</form>
<hr>
<div class="centrado">
<table id="tabla_salida">
<caption>Tabla Información General del proyecto</caption>
<thead>
         <tr>
                 <th>Numeros de Beneficiarios</th>
                 <th>Nombre del proyecto</th>
				 <th>Departamento</th>
				 <th>Fecha de Inicio</th>
				 <th>Fecha de Finalización</th>
				 <th>Producto</th>
				 <th>Números de Mujeres</th>
				 <th>Números de Hombres</th>

         </tr>
   </thead>
<tbody>
{% for a in j %}
<tr>
		<td>{{ contar }} </td>
		<td>{{ a.nombre }} </td>
		<td>{{ a.departamento }}</td>
		<td>{{ a.fecha_inicio }}</td>
		<td>{{ a.fecha_final }}</td>
		<td>{{ a.producto }}</td>
		<td>{{ mujer }}</td>
		<td>{{ hombre }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
