{% extends "/base.html" %}
{% block title %}Proyectos{% endblock %}
{% block headline %}Proyectos{% endblock %}

{% block contents %}
	<div id="enlaces">
		<ul>
			<a href="/proyectos/persona/">Busqueda por persona</a> ||
			<a href="/proyectos/detalle/">Busqueda por proyecto</a>
		</ul>
	</div>
<h1 id="titulo1"> Búsqueda por Beneficiarios/linea base por beneficiario </h1>
<form action="." method="GET" > 
Beneficiarios:
<SELECT NAME="c" SIZE=1 >
{% for i in bene %}
<OPTION VALUE="{{i.id|escape}}">{{i.nombre}}</OPTION>
{% endfor %}
</SELECT> 
<input type="submit" value="Enviar" /> 
</form>
<hr>
<div class="centrado">
<table id="tabla_salida">
<caption>Tabla Linea base por beneficiario</caption>
<thead>
         <tr>
                 <th>Proyecto</th>
                 <th>Beneficiario</th>
                 <th>Tamaño Finca (Mz)</th>
				 <th>Altura promedio (Mts)</th>
				 <th>Area de producción (Mz)</th>
				 <th>Area en desarrollo (Mz)</th>
				 <th>Rendimiento (qq)</th>
				 <th>Rendimiento (oro)</th>
				 <th>Manejo</th>
				 <th>Variedad</th>
				 <th>Certificación</th>

         </tr>
   </thead>
<tbody>
	{% for d in results %}
<tr>
		<td>{{ d.proyecto }} </td>
		<td>{{ d.persona }} </td>
		<td>{{ d.tamano_de_finca }} </td>
		<td>{{ d.altura_promedio }} </td>
		<td>{{ d.area_de_produccion }}</td>
		<td>{{ d.area_en_desarollo }}</td>
		<td>{{ d.rendimiento_promedio_en_qq }}</td>
		<td>{{ d.rendimiento_promedio_en_oro }}</td>
		<td>{{ d.get_manejo_display }}</td>
		<td>{%for x in d.variedad.all%}
     *{{ x.nombre }}
     {%endfor%}</td>
<td>{{ d.get_certificada_display }}</td>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
