{% extends "base.html" %}
{% block title %}Cuentas{% endblock %}
{% block headline %}Cuentas{% endblock %}
{% block login %}{% endblock %}
{% block search %}{% endblock %}
{% block warning %}
{% if form %}
{% if form.errors %}
<div class="warning">
Por favor corija los siguentes erores: {{ form.non_field_errors() }}
</div>
{% endif %}
{% endif %}
{% endblock %}
{% block contents %}
<table>
<tr>
<td width="75%">
{% block maincontents %}{% endblock %}
</td><td>
{% block related %}{% endblock %}
</td></tr></table>
{% endblock %}
