<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Persona{% endblock %}</title>
</head>

{% block content %}
<h1> Información del beneficiario y todos sus proyectos </h1>
<form action="." method="GET" > 

{{ F|escape }}

<input type="submit" value="Enviar" /> 
</form>
<hr>
{% for d in b %}
   {% for z in c %}
<ul>proyectos: {{ z.proyecto.nombre }}
    {% endfor %}</ul>
<ul>Nombre: {{ d.nombre }} </ul>
<ul>Cedula: {{ d.numero_cedula }}</ul>
<ul>Sexo: {{ d.get_sexo_display }}</ul>
{% endfor %}
<hr><hr>
{% endblock %}


</body>
</html>
