{% extends "/base_graph.html" %}

{% block title %}Persona{% endblock %}
{% block headline %}Persona{% endblock %}

{% block contents %}
<h1> Información del beneficiario y todos sus proyectos </h1>
<form action="." method="GET" > 

{{ F|safe }}

<input type="submit" value="Enviar" /> 
</form>
<hr>
{% for d in b %}
   {% for z in c %}
<ul>proyectos: {{ z.proyecto.nombre }}
    {% endfor %}</ul>
<ul>Nombre: {{ d.nombre }} </ul>
<ul>Cedula: {{ d.numero_cedula }}</ul>
<ul>Sexo: {{ d.get_sexo_display }}</ul>
{% endfor %}
<hr><hr>
{% endblock %}


