{% extends "/base.html" %}
{% block title %}Proyectos{% endblock %}
{% block headline %}Proyectos{% endblock %}

{% block contents %}
<h1> Información General del proyectos </h1>
<form action="." method="GET" > 

{{ P|safe }}

<input type="submit" value="Consultar" /> 
</form>
<hr>
{% for a in j %}
<ul>Municipio: {{ a.mun }}</ul>
<ul># de beneficiarios: {{ contar }} </ul>
<ul>Proyecto: {{ a.nombre }} </ul>
<ul>Departamento: {{ a.departamento }}</ul>
<ul>Fecha Inicio: {{ a.fecha_inicio }}</ul>
<ul>Fecha Final: {{ a.fecha_final }}</ul>
<ul>Producto: {{ a.producto }}
<ul># de Mujeres: {{ mujer }}</ul>
<ul># de hombres: {{ hombre }}</ul>
{% endfor %}
<hr></hr>

{% endblock %}
