{% extends "/base.html" %}
{% block title %}Proyectos{% endblock %}
{% block headline %}Proyectos{% endblock %}

{% block contents %}
<h1> Beneficiarios / linea base por beneficiario </h1>
<form action="." method="GET" > 

<SELECT NAME="c" SIZE=1 >
{% for i in bene %}
<OPTION VALUE="{{i.id|escape}}">{{i.nombre}}</OPTION>
{% endfor %}
</SELECT> 
<input type="submit" value="Enviar" /> 
</form>
<hr>
{% for d in results %}
<ul>proyectos: {{ d.proyecto }} </ul>
<ul>persona: {{ d.persona }} </ul>
<ul>tamano finca: {{ d.tamano_de_finca }} </ul>
<ul>altura promedio: {{ d.altura_promedio }} </ul>
<ul>area produccion: {{ d.area_de_produccion }}</ul>
<ul>area desarrollo: {{ d.area_en_desarollo }}</ul>
<ul>Rendimiento QQ: {{ d.rendimiento_promedio_en_qq }}</ul>
<ul>Rendimiento oro: {{ d.rendimiento_promedio_en_oro }}</ul>
<ul>manejo: {{ d.get_manejo_display() }}</ul>
<ul>Variedad:
{%for x in d.variedad.all%}
     <li> {{ x.nombre }} </li>
{%endfor%}
</ul>
<ul>Certificacion: {{ d.get_certificada_display() }}</ul>
{% endfor %}
<hr><hr>
{% endblock %}
