<!DOCTYPE HTML>
<html>
<head>
<title>
{% block title %}{% endblock %}
</title>
<link rel="stylesheet" type="text/css" href="/media/css/base-style.css" />
<link rel="stylesheet" type="text/css" href="/media/css/{{site_theme}}/style.css" />
<script type="text/javascript" src="/media/javascript/jquery.js"></script>
<script language="javascript" type="text/javascript">
$(document).ready(function() {
	$('ul#maintabs li').hover(function(){$(this).addClass("ui-state-hover")},function(){$(this).removeClass("ui-state-hover")});
});
$(document).ready(function() {
	$('form#menu_search').submit(function() {
		searchterm=$('#menu_search_field').val();
		window.location.href='/busqueda/'+searchterm;
		return false;
	});
});
$(document).ready(function() {
	$('form#page_search').submit(function() {
		searchterm=$('#page_search_field').val();
		window.location.href='/busqueda/'+searchterm;
		return false;
	});
});
</script>
{% block extraheader %}
{% endblock %}
</head>
<body>
<span id="title-banner"></span>
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
<div id="header-bar">
<h1 id="header-title">
{% block headline %}{% endblock %}
</h1>
<div id="header-banner">
&nbsp;
</div>
</div>
{% block menu %}
<div id="menu" style="position:relative;">
<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" id="maintabs">
{% for list_item in menu_list %}
<li {% if (request.get_full_path()[0:list_item.url|length]==list_item.url) %}class="ui-corner-top ui-tabs-selected ui-state-active"{% else %}class="ui-corner-top ui-state-default"{% endif %}><a href="{{ list_item.url }}">{{ list_item.name | safe}}</a></li>
{% endfor %}
{% if request.user.is_authenticated() %}
<li {% if (request.get_full_path()[0:10]=='/profiles/') %}class="ui-corner-top ui-tabs-selected ui-state-active"{% else %}class="ui-corner-top ui-state-default"{% endif %}><a href="/profiles/{{ request.user }}/">Perfil</a></li>
{% if request.user.is_staff %}
<li class="ui-corner-top ui-state-default"><a href="/admin/"><span>Administrar</span></a></li>
{% endif %}
<li class="ui-corner-top ui-state-default"><a href="/accounts/logout"><span>Logout</span></a></li>
{% else %}
<li {% if (request.get_full_path()=='/accounts/login/') %}class="ui-corner-top ui-tabs-selected ui-state-active"{% else %}class="ui-corner-top ui-state-default"{% endif %}><a href="/accounts/login/">Login</a></li>
{% endif %}
</ul>
<form method="get" action="/busqueda_html" id="menu_search" style="position:absolute;top:5px;right:3px;"><input type="text" name="q" size="10" id="menu_search_field"><input type="submit" id="menu_search_button" value="buscar"></form>
</div>
{% endblock %}
<div id="contents">
{% block warning %}
{% if warning %}
<div class="warning">
{{ warning }}
</div>
{% endif %}
{% endblock %}
{% block contents %}
{% endblock %}
</div>
</div>
<div id="bottom">
Construido por <a href="http://www.johanneswilm.org">Johannes Wilm</a> de <a href="http://www.simas.org.ni">SIMAS</a>, 2008-2009.
</div>
</body>
</html>
