{% extends "/biblioteca.html" %}

{% block center_content %}

<div id="busqueda">
		<h2>
			{{ results.nombre }}
		</h2>
		<div id="resultado">
			<ul>
				<li><span class="titulo">Autor:</span><b>{{ results.autor }}</b></li>
				<li><span class="titulo">Fecha de publicacion:</span><b>{{ results.fecha_publicado }}</b></li>
				<li><span class="titulo">Fecha de subida:</span>{{results.fecha_anadido}}</li>
				<li><span class="titulo">Descargar:</span> {% if results.attachment %}<a href="{{results.get_download_url()}}">{{results.nombre}}<img src="/media/imagen/pdf.png">{% else %} {% endif %}</a></li>
				<li><span class="titulo">Tamaño:</span>{% if results.attachment %}{{ results.attachment.size }} bytes {% endif %}</li>
				<li><span class="titulo">Enlace:</span><a href="{{ results.enlace }}">{{ results.enlace }}</a></li>
				<li><span class="titulo">Organizacion:</span>{{ results.organizacion }}</li>
				<li><span class="titulo">Descripcion:</span></br>{{ results.decripcion }}</li>
			</ul>            
		</div>
	</div>
{% endblock %}

