{% extends "/base_graph.html" %}

{% block extrastatisticsheader %}
<!-- datePicker required styles -->
<link rel="stylesheet" type="text/css" media="screen" href="/media/javascript/jQuery/datePicker.css" />

<script type="text/javascript" src="/media/javascript/jQuery/jquery.form.js"></script>
<!-- required plugins -->
<script type="text/javascript" src="/media/javascript/date.js"></script>
<script type="text/javascript" src="/media/javascript/date_es.js"></script>

<!-- jquery.datePicker.js -->
<script type="text/javascript" src="/media/javascript/jQuery/jquery.datePicker.js"></script>
<script type="text/javascript" src="/media/javascript/statistics_form.js"></script>
<script type="text/javascript">

$(function() {
	$("#variables").accordion();
});

</script>
{% endblock %}
{% block contents %}

{% if form %} 


<div id="dbform"> 
<form action="." method="POST" id="AjaxForm"> 


<table>

<tr>
<td valign="top">
<p>
Desde:<br /> {{ form.StartDate|safe }}<br />
Hasta:<br /> {{ form.EndDate|safe }}
</p>

<p>
Frecuencia:<br /> {{form.Frecuencia|safe}}
</p>

<p>&nbsp;</p>

<p>
<input type="submit" value="Enviar" id="AjaxFormSubmit" /> 
</p>

</td>
<td>
<div id="variables">
<h3><a href="#">Variables mercantiles</a></h3>
<div>
<table>
<tr>
<td valign="top">
Producto:<br /> {{ form.Producto|safe }}
</td><td valign="top">
Mercado:<br /> {{ form.Mercado|safe }} 
</td>
</tr>
</table>
</div>
<h3><a href="#">Variables climaticos</a></h3>
<div>
Estacion de lluvia:<br /> {{ form.EstacionDeLluvia|safe }}
</div>
</div>
</td>
<td>&nbsp;</td>
<td valign="top">
<div id="AjaxFormWarning"> </div>
</td>
</tr>
</table>
</form></div>
<div id="Graphs" >
<div id="GraphsHeader">&nbsp;</div>
</div>
</div>

{% endif %} {% endblock %}
