{% extends "/base_graph.html" %}

{% block extrastatisticsheader %}
{% endblock %}
{% block contents %}

{% if form %} 


<div id="dbform"> 
<form action="." method="POST" id="AjaxForm"> 


<table>

<tr>
<td valign="top">
<p>
Desde:<br /> {{ form.Desde|safe }}<br />
Hasta:<br /> {{ form.Hasta|safe }}
</p>

<p>
Frecuencia:<br /> {{form.Frecuencia|safe}}
</p>
<p>&nbsp;</p>

<p>
<input type="submit" value="Enviar" id="AjaxFormSubmit" /> 
</p>
</td>
<td valign="top">
<p>
Municipio:<br /> {{form.Municipio|safe}}
</p>
<p>
Departamento:<br /> {{form.Departamento|safe}}
</p>


</td>
<td valign="top">
<div id="variables">
<h3><a href="#">Variables mercantiles</a></h3>
<div>
<table>
<tr>
<td valign="top">
Producto:<br /> {{ form.Producto|safe }}
</td><td valign="top">
Mercado:<br /> {{ form.Mercado|safe }} 
</td>
</tr>
</table>
Medida:<br />
{{form.PrecioMedida | safe}}
</div>
<h3><a href="#">Variables climaticos</a></h3>

<div>
Incluir lluvia de municipios/departamentos: {{ form.IncluirLluvia|safe }}<br />
Estacion de lluvia:<br /> {{ form.EstacionDeLluvia|safe }}
</div>
<h3><a href="#">Variables cosechas</a></h3>
<div>
<table>
<tr>
<td valign="top">
Variables:<br /> {{ form.CosechaVariable |safe }}
</td><td valign="top">
Producto:<br /> {{ form.CosechaProducto |safe }}
</td>
</tr>
</table>
</div>
</div>
</td>
<td>&nbsp;</td>
<td valign="top">
<div id="AjaxFormWarning"> </div>
</td>
</tr>
</table>

</form></div>
<div id="Graphs" >
<div id="GraphsHeader">&nbsp;</div>
</div>
</div>

{% endif %} {% endblock %}
