{% extends '/base_graph.html' %}
{% block title %}
{{ page_name }}
{% endblock %}

{% block extrastatisticsheader %}
<script language="javascript" type="text/javascript">
graphs=[];
{{ json_data|safe }}

$(document).ready(function() {
	var graph_name;
	contents_height=$("div#contents").height();
	for (i in graphs) {
		graph_name='#graph'+String(i);
		create_graphs(graphs[i],true,graph_name);
		graph_height=$(graph_name).next().height();
		contents_height+=graph_height;
	}
	$("div#contents").height(contents_height);
});

</script>
{% endblock %}

{% block headline %}
{{ page_name }}
{% endblock %}
{% block contents %}
{% if can_change %}
<a href="/admin/wiki/pagina/{{pk}}/">Editar</a><br />
{% endif %}
{{ body_html|safe }}
{% endblock %}
