.threecol {
	background:#d0e69c;                /* right column background colour */
}
.threecol .colleft {
	background:#d0e69c;     /* left column background colour */
}


div#header-banner {
        background-image: url(images/ALBAstryde.png);
	height: 72px;
	width:240px;
	left: 0px;
	right: auto;
}

h1#header-title {
	left: auto;
	right: 10px;
	font-size:50px;
	padding: 0;
	margin: 0;
	font-family: Cambria,
             "Hoefler Text",
             Utopia,
             "Liberation Serif",
             "Nimbus Roman No9 L",
             Times,
             "Times New Roman",
             serif;
}

div#header-bar {
	height: 72px;
}
body {
	background: #738040;
}

div.edit {
	background: #738040
}

div.border {
	background: #6D458A
}

div.warning {
	background: #C1609D;
}

div.nonpublicComment {
	border: 1px solid #C1609D;
}

div.pointLabel {
            color: 'black';
}

div.formDiv {
	background-color: #CFE673;
	color: #738040;
	border: 1px solid #738040;
}


div#header {
	background: #CFE673;
}
div#contents {
	background: #ffffff;
}

div#page {
	background: #ffffff;
}
div#bottom {
	color: #A3BF30;
}

div#bottom a {
	color: #A3BF30;
}

