{% extends "/base.html" %}

{% block title %}Comercialización{% endblock %}
{% block headline %}Comercialización{% endblock %}

{% block contents %}
		<ul>
			<li><a href="/comercia/">Busqueda por Rubro</a></li>
		</ul>
<div class="centrado">
<h1 id="titulo1"> Busquedas por Cooperativa </h1>
</div>
<fieldset><legend>CONSULTAR</legend>
<form action="." method="GET" > 
<div class="centrado">
<table>
    <tr>
		<td>{{ A.cooperativas.errors }}
    <label for="id_cooperativas">Cooperativas:</label></td>
		<td>{{ A.cooperativas|safe }}</td>
	</tr>
    <tr>
        <td>{{ A.anos.errors }}
    <label for="id_anos">Años:</label></td>
        <td>{{ A.ans }}</td>
    </tr>
    <tr>
        <td>{{ A.productos.errors }}
    <label for="id_productos">Productos:</label></td>
        <td>{{ A.productos|safe }}</td>
	</tr>
</table>
<input type="submit" value="Consultar" /> 
</div>
</form>
</fieldset>
<hr>
<div class="centrado">
<table id="tabla_salida">
<caption>Tabla Cooperativas</caption>
<thead>
         <tr>
				<th>Nombre Cooperativa</th>
                 <th>Numero de productores</th>
                 <th>Area (Mz)</th>
				 <th>Produccion (qq)</th>
				 <th>Rendimiento (qq/Mz)</th>
				 <th>Exportación (qq)</th>
				 <th>Precio de Exportación ($)</th>
				 <th>Precio mercados locales ($)</th>
         </tr>
   </thead>
<tbody>
		{% for a in k %}
	<tr>
			<td>{{ a.cooperativa.nombre_resumido }}</td>
			<td>{{ a.productor }}</td>
			<td>{{ a.area }}</td>
			<td>{{ a.produccion }}</td>
			<td>{{ a.rendimiento }}</td>
			<td>{{ a.exportacion }}</td>
			<td>{{ a.precio_expt }}</td>
			<td>{{ a.precio_merc_local }}</td>
	</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
