{% extends "/base.html" %}

{% block title %}Comercialización{% endblock %}
{% block headline %}Comercialización{% endblock %}

{% block contents %}
		<ul>
			<li><a href="/cooperativas/comercializacion/">Busqueda por cooperativa</a></li>
		</ul>
<div class="centrado">
<h1 id="titulo1"> Busquedas por Rubro </h1></div>
<fieldset><legend>CONSULTAR</legend>
<form action="." method="GET" >
<div class="centrado">
<table>
	<tr>
		<td>{{ T.productos.errors }}
    <label for="id_cooperativas">Productos:</label></td>
		<td>{{ T.productos }}</td>
	</tr>

	<tr>
		<td>{{ T.municipios.errors }}
    <label for="id_anos">Municipios:</label></td>
		<td>{{ T.municipios }}</td>
	</tr>

	<tr>
		<td>{{ T.ciclos.errors }}
    <label for="id_productos">Ciclos:</label></td>
		<td>{{ T.ciclos }}</td>
	</tr>
</table>
<input type="submit" value="Consultar" /> 
</div>
</form>
</fieldset>
<hr>
<div class="centrado">
<table id="tabla_salida">
<caption>Tabla Comercio en bruto</caption>
<thead>
         <tr>
                 <th>Nombre Cooperativas</th>
                 <th>Area (Mz)</th>
                 <th>Produccion (qq)</th>
				 <th>Rendimiento (qqxMz)</th>
				 <th>Exportacion (qq)</th>
				 <th>Precio mercados locales ($)</th>
				 <th>Certificacion</th>
				 <th>Variedad</th>

         </tr>
   </thead>
<tbody>
		{% for a in h %}
	<tr>
			<td>{{ a.cooperativa.nombre_resumido }}</td>
			<td>{{ a.area }}</td>
			<td>{{ a.produccion }}</td>
			<td>{{ a.rendimiento }}</td>
			<td>{{ a.exportacion }}</td>
			<td>{{ a.precio_merc_local }}</td>
			<td>{{ a.get_certificacion_display }} </td>
			<td>{{ a.get_variedad_display }} </td>
	</tr>
		{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
