{% extends "/base.html" %}

{% block title %}Cooperativa{% endblock %}
{% block headline %}Cooperativa{% endblock %}

{% block contents %}
	<div id="enlaces">
		<ul>
			<a href="/cooperativas/departamento/">Búsqueda por ubicación</a>
		</ul>
	</div>
<h2 id="titulo1">Información Detallada de la Cooperativa</h2>
<hr>
<div class="centrado">
<table id="tabla_salida">
<caption>Tabla detalle de cooperativa</caption>
<thead>
         <tr>
                 <th>Nombre completo Cooperativa</th>
                 <th>Año de inscrito</th>
                 <th>Miembros Hombres</th>
				 <th>Miembros Mujeres</th>
				 <th>Miembros totales</th>
				 <th>Beneficiarios Hombres</th>
				 <th>Beneficiarios Mujeres</th>
				 <th>Beneficiarios Totales</th>
				 <th>Mujeres a Cargo</th>
         </tr>
   </thead>
<tbody>
{% for p in b %}
	<tr>
		<td>{{ p.cooperativa.nombre_completo }}</td>
		<td>{{ p.ano }}</td>
		<td>{{ p.mem_hombre }}</td>
		<td>{{ p.mem_mujer }}</td>
		<td>{{ p.mem_total() }}</td>
		<td>{{ p.ben_hombre }}</td>
		<td>{{ p.ben_mujer }}</td>
		<td>{{ p.ben_total() }}</td>
		<td>{{ p.mujer_cargo }}</td>
	</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
