{% extends "/base.html" %}

{% block title %}Cooperativa{% endblock %}
{% block headline %}Cooperativa{% endblock %}

{% block contents %}
		<ul>
			<a href="/cooperativas/">Listado de cooperativas</a>
		</ul>
	<h2 id="titulo1">Informacion Detallada de la cooperativa</h2>
<table id="tabla_salida">
<caption>Tabla detalle de la cooperativa</caption>
<thead>
         <tr>
                 <th>Nombre completo de cooperativas</th>
                 <th>Año de inscripción</th>
                 <th>Miembros Hombres</th>
				 <th>Miembros Mujeres</th>
				 <th>Miembros totales</th>
				 <th>Beneficiarios Hombres</th>
				 <th>Beneficiarias Mujeres</th>
				 <th>Beneficiarios totales</th>
				 <th>Mujeres a cargo</th>

         </tr>
   </thead>
<tbody>
{% for p in p %}
	<tr>
			<td>{{ p.cooperativa.nombre_completo }}</td>
			<td>{{ p.ano }}</td>
			<td>{{ p.mem_hombre }}</td>
			<td>{{ p.mem_mujer }}</td>
			<td>{{ p.mem_total }}</td>
			<td>{{ p.ben_hombre }}</td>
			<td>{{ p.ben_mujer }}</td>
			<td>{{ p.ben_total }}</td>
			<td>{{ p.mujer_cargo }}</td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
