{% extends "/base.html" %}

{% block title %}Cooperativa{% endblock %}
{% block headline %}Cooperativa{% endblock %}

{% block contents %}
	<div id="enlaces">
		<ul>
			<a href="/cooperativas/">Lista de cooperativas</a>
		</ul>
	</div>
<h2 id="titulo1">Cooperativa # {{ lista.id }}: <span>{{ lista.ecp.nombre }}</span></h2>
	<h3 id="titulo2">Informacion General</h3>
<table id="tabla_salida">
<caption>Información general de la cooperativa</caption>
		<tr>
			<th>Nombre completo </th>
			<td>{{ lista.nombre_completo }}</td>
		</tr>
		<tr>
			<th>Nombre resumido </th>
			<td>{{ lista.nombre_resumido }}</td>
		</tr>
		<tr>
			<th>Metro sobre el nivel del mar </th>
			<td>{{ lista.msnm }}</td>
		</tr>
		<tr>
			<th>Municipio </th>
			<td>{{ lista.municipio }}</td>
		</tr>
		<tr>
			<th>Fecha de constitución </th>
			<td>{{ lista.fecha_constitucion }}</td>
		</tr>
		<tr>
			<th>Representante legal </th>
			<td>{{ lista.representante_legal }}</td>
		</tr>
		<tr>
			<th>Tecnico </th>
			<td>{{ lista.tecnico }}</td>
		</tr>

</table>
<ul>
		<a href="/cooperativas/detalle/{{ lista.id }}">Ver Detalle de Cooperativas</a>
</ul>
{% endblock %}
