{% extends "/base.html" %}

{% block title %}Cooperativa{% endblock %}
{% block headline %}Cooperativa{% endblock %}

{% block contents %}
	<h2 id="titulo1">Datos de Cooperativas</h2>
		<div class="centrado">
<table id="tabla_salida">
<caption>Tabla Datos generales de la cooperativa</caption>
<thead>
         <tr>
                 <th>Nombre completo Cooperativas</th>
                 <th>Nombre resumido de Cooperativa</th>
                 <th>Metro sobre el nivel del mar</th>
				 <th>Fecha de constitución</th>
				 <th>Representante legal</th>
				 <th>Tecnico a cargo</th>
         </tr>
   </thead>
<tbody>
		{% for p in c %}
	<tr>
		<td>{{ p.nombre_completo }}</td>
		<td>{{ p.nombre_resumido }}</td>
		<td>{{ p.msnm }}</td>
		<td>{{ p.fecha_constitucion }}</td>
		<td>{{ p.representante_legal }}</td>
		<td>{{ p.tecnico }}</td>
	</tr>

{% endfor %}
</tbody>
</table>
</div>
{% for p in c %}
     <a href="/detallec/{{ p.id }}">Ver Detalle de Cooperativas</a>
{% endfor %}

{% endblock %}
