{% extends "/base.html" %}
{% block headline %}Cooperativas{% endblock %}
{% block title %}Cooperativas{% endblock %}
{% block contents %}
<h1> Busquedas por ubicacion </h1>
<form action="." method="GET" > 

{{ F|safe }}

<input type="submit" value="Consultar" /> 
</form>
<hr>
<h3>Municipios</h3>
{% for a in j %}
<!--<ul>{{ a.nombre }}</ul>-->
<!--<ul><a href="/cooperativa/{{ a.nombre }}">{{ a.nombre }}</a></ul>-->
<ul><a href="/cooperativa/{{ a.numero }}">{{ a.nombre }}</a></ul>
{% endfor %}

{% endblock %}
