{% extends "/base.html" %}

{% block title %}Proyectos{% endblock %}
{% block headline %}Proyectos{% endblock %}

{% block contents %}
	<div id="enlaces">
		<ul>
			<a href="/cooperativas">Listas de cooperativas</a> ||
			<a href="/cooperativas/comercializacion/">Ir a Comercialización</a>
		</ul>
	</div>
<h1 id="titulo1"> Busquedas por ubicacion </h1>
<form action="." method="GET" > 

{{ F|safe }}

<input type="submit" value="Consultar" /> 
</form>
<hr>
<caption>Municipios</caption>
{% for a in j %}
<table id="tabla_salida">
<tr>
	<td><a href="/cooperativas/cooperativa/{{ a.numero }}">{{ a.nombre }}</a></td>
</tr>
</table>
{% endfor %}

{% endblock %}
