body {
	background: #e0007a;
}

div.edit {
	background: #738040
}

div#contents {
	min-height: 400px;
}

div.border {
	background: #6D458A
}

div.warning {
	background: #C1609D;
}

div.nonpublicComment {
	border: 1px solid #C1609D;
}

div.pointLabel {
            color: 'black';
}

h1 {
            color: #0093dd;
}

h1#header-title {
            color: #85c226;
	    background-image: url(images/swush.png);
            background-repeat: no-repeat;
            background-position:bottom left;
	    min-height: 41px;
	    min-width: 211px;
}



div.formDiv {
	background-color: #CFE673;
	color: #738040;
	border: 1px solid #738040;
}


div#contents {
	background: #ffffff;
}

div#bottom {
	color: #000000;
}

div#bottom a {
	color: #000000;
}

span#title-banner {
	background-image: url(images/title-banner.png);
	background-repeat: no-repeat;
	background-position:top center;
	height: 20px;
	margin:0;
	padding: 0;
	display: block;
}


div#header-banner {
	background-image: url(images/header-banner.png);
}

